block variables

doctype html
html(lang="ru")
  head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title!= titlePage
  link(rel="icon" type="image/x-icon" href="images/favicon.ico")
  link(rel="preload" href="fonts/Inter-Regular.woff2" as="font")
  link(rel="stylesheet" href="css/style.css")
  body
    include blocks/header/header
    block main
    include blocks/footer/footer
    script(src="libs/jquery-3.6.3.min.js")
    script(src="js/script.js")
